.m-teasers {
  display: flex;

  // stylelint-disable-next-line max-nesting-depth
  .no-flexbox.no-flexboxlegacy.no-flexboxtweener & {
    @include clearfix;

    // stylelint-disable-next-line plugin/selector-bem-pattern,max-nesting-depth
    .m-teaser {
      float: left;
      width: 25%;
    }
  }
}
