.mod-svgsprite {
  padding: 0 50px;
}

.mod-svgsprite__list {
  @include resetList;
}

.mod-svgsprite__item {
  @include clearfix;
}

.mod-svgsprite__icon {
  width: 32px;
  height: 32px;
  padding: 0;
  opacity: 0;
  fill: $colorClearChill;
  transition: fill 1s ease;

  &:hover {
    fill: $colorLambentLagoon;
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  .svgSpritesLoaded & {
    opacity: 1;
  }
}
